.activity-card-container {
  background: #023047;
  border: 0.8px solid #6f6f6f;
  border-radius: 10px;
  padding: 24.8px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.activity-card-header {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.activity-card-heading {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  color: #ffc300;
}

.activity-card-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #d3d3d3;
}

.activity-card-data-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.activity-card-item-container {
  background: #023047;
  border: 0.8px solid #6f6f6f;
  padding: 12px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.activity-card-icon-container {
  height: 32px;
  width: 32px;
  border-radius: 10px;
  font-size: 16px;
  color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.activity-card-content-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.activity-card-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #f6f6f6;
}

.activity-card-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  color: #d3d3d3;
}

.activity-card-time {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  color: #6f6f6f;
}
