.internship-modal-overlay {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.internship-modal-overlay-background {
  background: #000000cc;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 9;
}

.internship-modal-overlay-container {
  width: 672px;
  height: 95%;
  background: radial-gradient(
    111.8% 111.8% at 50% 0%,
    rgba(2, 48, 71, 0.95) 0%,
    #023047 50%,
    rgba(2, 48, 71, 0.98) 100%
  );
  border: 1px solid #6f6f6f;
  box-shadow: 0px 20px 60px 0px #00000080;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  z-index: 10;
}

.internship-modal-header-container {
  padding: 24px;
  border-bottom: 1px solid #6f6f6f;
}

.internship-modal-heading {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: #ffc300;
}

.internship-modal-form-container {
  width: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-bottom: 1px solid #6f6f6f;
}

.internship-modal-label-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.internship-modal-label {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #f6f6f6;
}

.internship-modal-input {
  background: radial-gradient(
    70.71% 70.71% at 50% 50%,
    rgba(2, 48, 71, 0.6) 0%,
    #023047 100%
  );
  border: 1px solid #6f6f6f;
  padding: 8px 16px;
  border-radius: 10px;
}

.internship-modal-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.internship-modal-checkbox-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.internship-modal-checkbox-input {
  width: 13px;
  height: 13px;
}

.checkbox-label {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #f6f6f6;
}
