.tutorsearch {
  height: 90px;
  background-color: #023047;
  border-radius: 10px;
  border: 1px solid #6f6f6f;
}

.tutorsearchbar {
  height: 45px;
  width: auto;
  display: flex;
  justify-content: space-between;
  padding: 12px;
  margin-top: 10px;
}

.tutorrow {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.tutorinfo {
  height: 220px;
  background-color: #023047;
  border-radius: 10px;
  border: 1px solid #6f6f6f;
  width: 550px;
  padding: 24px;
}

.tutoricon {
  height: 64px;
  width: 64px;
  border-radius: 50px;
  border-color: none;
  background: #ffc30033;
  color: #ffc300;
  box-shadow: 0 0 12px rgba(255, 195, 0, 0.35), 0 0 30px rgba(255, 195, 0, 0.18);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

.tutorborderline {
  height: 2px;
  background-color: #6f6f6f;
  margin-top: 10px;
  width: auto;
}

.availabletag {
  color: #22c55e;
  font-size: 16px;
}
