.actions-card-container {
  background: #ffc3000d;
  border: 1px solid #6f6f6f;
  height: 90px;
  padding: 16px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.actions-card-icon {
  height: 24px;
  width: 24px;
  color: #ffc300;
}

.actions-card-title {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #f6f6f6;
}
