.support-tickets-container {
  background: #023047;
  border-top: 1px solid #6f6f6f;
  border-radius: 10px;
  padding: 1px;
}

.support-tickets-header {
  padding: 24px;
  border-bottom: 1px solid #6f6f6f;
  height: 101px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.support-tickets-icon-content-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.support-ticket-icon-container {
  height: 40px;
  width: 40px;
  border-radius: 10px;
  background: #ffc3001a;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffc300;
}

.support-ticket-content-container {
  display: flex;
  flex-direction: column;
}

.support-ticket-heading {
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  color: #f6f6f6;
}

.support-ticket-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #6f6f6f;
}

.support-tickets-btn {
  border-radius: 10px;
  background: #ffc300;
  padding: 12px 16px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #023047;
}

.tickets-table {
  width: 100%;
}

.table-header {
  background: #ffc3001a;
  height: 48.5px;
}

.table-header th {
  color: #ffc300;
  font-size: 16px;
  font-weight: 700;
  padding: 0 10px;
}

tbody tr {
  width: 100%;
}

tbody tr td {
  padding: 10px 24px;
  border-top: 1px solid #6f6f6f;
}

.ticket-id {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #ffc300;
}

.ticket-user {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #f6f6f6;
}

.ticket-subject {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #d3d3d3;
}

.ticket-category {
  height: 26px;
  background: #6f6f6f33;
  border: 1px solid #6f6f6f;
  border-radius: 4px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #d3d3d3;
}

.ticket-priority {
  height: 26px;
  border-radius: 4px;
}

.high {
  background: #ffc30033;
  border: 1px solid #ffc300;
  color: #ffc300;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.urgent {
  background: #ff000033;
  border: 1px solid #ff6b6b;
  color: #ff6b6b;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.medium {
  background: #6f6f6f33;
  border: 1px solid #6f6f6f;
  color: #d3d3d3;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.low {
  background: #d3d3d31a;
  border: 1px solid #6f6f6f;
  color: #6f6f6f;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.ticket-time {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #6f6f6f;
}

.ticket-view-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.view-container {
  background: #ffc3001a;
  height: 28px;
  width: 28px;
  border-radius: 4px;
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #ffc300;
}

.message-container {
  background: #6f6f6f33;
  height: 28px;
  width: 28px;
  border-radius: 4px;
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #f6f6f6;
}

.ticket-status {
  height: 24px;
  border-radius: 4px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

.open {
  background: #d3d3d333;
  border: 1px solid #6f6f6f;
  color: #f6f6f6;
}

.inprogress {
  background: #6f6f6f33;
  border: 1px solid #6f6f6f;
  color: #d3d3d3;
}

.resolved {
  background: #ffc30033;
  border: 1px solid #ffc300;
  color: #ffc300;
}
