.create-ticket-modal-overlay {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.create-ticket-modal-overlay-background {
  background: #000000;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 9;
}

.create-ticket-modal-overlay-container {
  width: 768px;
  height: 98%;
  background: #023047;
  border: 1px solid #6f6f6f;
  box-shadow: 0px 20px 60px 0px #00000080;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  z-index: 10;
  overflow-y: scroll;
}
