.internshiphubstats {
  height: 150px;
  width: auto;
  justify-content: space-between;
  display: flex;
  gap: 12px;
}

.totalinternships {
  height: 150px;
  width: 300px;
  border-radius: 10px;
  padding: 24px;
  border: 1px solid #6f6f6f;
  background-color: #023047;
}

.totalinternshipsicon1 {
  height: 40px;
  width: 40px;
  border-radius: 10px;
  border-color: none;
  background-color: #ffc300;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #023047;
}

.totalinternshipsicon2 {
  height: 40px;
  width: 40px;
  border-radius: 10px;
  border-color: none;
  background-color: #6f6f6f;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #f6f6f6;
}

.totalinternships .label {
  font-size: 12px;
  color: #d3d3d3;
}

.totalinternships .count {
  font-size: 24px;
  color: #f6f6f6;
}

.internshipfilteroptions {
  height: 220px;
  width: auto;
  border-radius: 10px;
  border: 1px solid #6f6f6f;
  background-color: #023047;
}

.internshipfilters {
  height: 125px;
  display: flex;
}

.internshiptype {
  height: 78px;
  width: 600px;
  padding: 24px;
  color: #d3d3d3;
  font-size: 16px;
}

.categoriesname {
  padding: 10px;
  margin-right: 15px;
}
