.system-health-card-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.system-health-icon-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.system-health-icon-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.system-health-title {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #d3d3d3;
}

.system-health-number {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  color: #f6f6f6;
}

.server-uptime-container {
  width: 100%;
  height: 8px;
  background: #6f6f6f;
  border-radius: 30px;
}

.server-child-container {
  width: 90%;
  height: 8px;
  border-radius: 30px;
  background: #ffc300;
}

.system-health-flash-icon {
  height: 16px;
  width: 16px;
  color: #d3d3d3;
}

.server-second-child-container {
  width: 80%;
  height: 8px;
  border-radius: 30px;
  background-color: #d3d3d3;
}

.system-health-people-icon {
  height: 16px;
  width: 16px;
  color: #6f6f6f;
}

.server-third-child-container {
  width: 95%;
  height: 8px;
  border-radius: 30px;
  background: #ffc300;
}

.system-operation-container {
  background: #ffc3001a;
  border: 1px solid #ffc300;
  padding: 13px;
  border-radius: 10px;
}

.system-operation-icon-content-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.system-circle-icon {
  height: 20px;
  width: 20px;
  color: #ffc300;
}

.system-operation-content {
  display: flex;
  flex-direction: column;
}

.system-operation-heading {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #ffc300;
}

.system-operation-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  color: #d3d3d3;
}
