.back-to-internship {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #d3d3d3;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.single-internship-paid-btn {
  background: #023047;
  padding: 8px 16px;
  border-radius: 32px;
  border: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #f6f6f6;
  cursor: pointer;
}

.single-internship-info-grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
}

.single-internship-applicants-grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
}

.single-internship-btn-container {
  display: flex;
  align-items: center;
  gap: 8px;
}
