.compstats {
  height: 84px;
  width: auto;
  display: flex;
  justify-content: space-between;
}

.compstat {
  height: 84px;
  width: 300px;
  border-radius: 10px;
  border: 1px solid #6f6f6f;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}

.compstatheading {
  font-size: 16px;
  color: #d3d3d3;
  margin-left: 24px;
  margin-top: 10px;
}

.compstatnum1 {
  font-size: 32px;
  color: #f6f6f6;
  margin-left: 24px;
  margin-top: -12px;
}

.compstatnum2 {
  font-size: 32px;
  color: #ffc300;
  margin-left: 24px;
  margin-top: -12px;
}

.companyrow {
  height: 295px;
  display: flex;
  width: auto;
  justify-content: space-between;
  gap: 10px;
}

.companyinfo {
  height: 295px;
  width: 550px;
  border-radius: 10px;
  border: 1px solid #6f6f6f;
  background-color: #023047;
  padding: 24px;
}

.companyinfohead {
  height: 88px;
  width: auto;
  display: flex;
}

.companyinfoicon {
  height: 64px;
  width: 64px;
  border-radius: 5px;
  border-color: none;
  background-color: #ffc300;
  box-shadow: 0 0 12px rgba(255, 195, 0, 0.35), 0 0 30px rgba(255, 195, 0, 0.18);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  color: #f6f6f6;
}

.companytitle {
  font-size: 20px;
  color: #f6f6f6;
  margin-left: 10px;
  width: auto;
}

.companyindustry {
  font-size: 16px;
  color: #d3d3d3;
}

.companyactivetag {
  height: 20px;
  width: auto;
  color: #023047;
  background-color: #ffc300;
  border-radius: 8px;
  font-size: 12px;
  border-color: none;
  margin-right: 10px;
  margin-left: 200px;
  padding: 3px;
  box-shadow: 0 0 12px rgba(255, 195, 0, 0.35), 0 0 30px rgba(255, 195, 0, 0.18);
}

.companyinfostats {
  height: 60px;
  width: auto;
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
}

.companyinfodetail {
  font-size: 16px;
  color: #d3d3d3;
  width: 276px;
}

.companyactions {
  height: 50px;
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  align-items: flex-start;
}

.companywebsite {
  color: #ffc300;
  font-size: 16px;
}

.compactions {
  display: flex;
  align-items: start;
}
