.overview-card-container {
  background: #023047;
  border: 1px solid #6f6f6f;
  height: 82px;
  padding: 16px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 12px;
}

.overview-card-icon-container {
  height: 40px;
  width: 40px;
  border-radius: 10px;
  background: #ffc3001a;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffc300;
}

.overview-card-content-container {
  display: flex;
  flex-direction: column;
}

.overview-card-title {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  color: #d3d3d3;
}

.overview-card-number {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #f6f6f6;
}
