.job-card-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.job-card-icon-container {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.job-card-content-container {
  display: flex;
  flex-direction: column;
}

.job-card-title {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #d3d3d3;
}

.job-card-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #f6f6f6;
}
