.company-jobs-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.company-jobs-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.company-jobs-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #d3d3d3;
}

.company-jobs-job-btn {
  background-color: #ffc300;
  color: #023047;
  padding: 8px 14px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.company-jobs-job-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 16px;
}
