.top-companies-card-container {
  background: #023047;
  border: 1px solid #6f6f6f;
  padding: 25px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.top-companies-title-icon-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-companies-heading {
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  color: #f6f6f6;
}

.top-companies-star-icon {
  height: 20px;
  width: 20px;
  color: #ffc300;
}

.top-companies-cards {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.company-card-container {
  background: #ffc3000d;
  border: 1px solid #6f6f6f;
  padding: 16px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.company-card-number-container {
  background: #ffc300;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.company-card-content-container {
  display: flex;
  flex-direction: column;
}

.company-card-title-icon-container {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #ffc300;
}

.company-card-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #f6f6f6;
}

.company-card-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  color: #6f6f6f;
}
