.activity-card-container {
  height: 76px;
  padding: 16px;
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.activity-card-icon-container {
  background: #ffc3001a;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: #ffc300;
}

.activity-card-content-container {
  display: flex;
  flex-direction: column;
}

.activity-card-title {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #f6f6f6;
}

.activity-card-role {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  color: #6f6f6f;
}

.activity-card-time {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  color: #6f6f6f;
}
