.linkcard-container {
  height: 48px;
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.linkcard-icon {
  height: 20px;
  width: 20px;
}

.linkcard-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

a {
  text-decoration: none;
  color: #f6f6f6;
  display: flex;
  align-items: center;
  gap: 5px;
}

a.active {
  color: #ffc300;
}
