.navbar-container {
  width: 100%;
  padding: 16px 24px;
  background: #023047;
  border-bottom: 1px solid #6f6f6f;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-hamburger-search-container {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navbar-hamburger-icon {
  height: 20px;
  width: 20px;
  color: #f6f6f6;
  cursor: pointer;
}

.search-input-container {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 448px;
  height: 42px;
  border-radius: 10px;
  padding: 8px 16px;
  background: #f6f6f6;
  border: 1px solid #d3d3d3;
  cursor: pointer;
}

.navbar-search-icon {
  height: 20px;
  width: 20px;
  color: #6f6f6f;
}

.navbar-search-input {
  width: 95%;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 5px;
}

.navbar-search-input::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #02304780;
}

.navbar-settings-admin-container {
  width: 300px;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.navbar-settings-icon {
  padding: 8px;
  height: 36px;
  width: 36px;
  color: #f6f6f6;
  cursor: pointer;
}

.navbar-bell-icon {
  padding: 8px;
  height: 36px;
  width: 36px;
  color: #f6f6f6;
  cursor: pointer;
}

.navbar-admin-container {
  height: 48px;
  width: 180px;
  padding-left: 16px;
  display: flex;
  align-items: center;
  gap: 12px;
  border-left: 1px solid #6f6f6f;
}

.navbar-admin-content-container {
  display: flex;
  flex-direction: column;
}

.navbar-admin-heading {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  color: #f6f6f6;
}

.navbar-admin-caption {
  font-size: 10px;
  font-weight: 400;
  line-height: 24px;
  color: #d3d3d3;
}

.navbar-admin-profile-container {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffc300;
  display: flex;
  justify-content: center;
  align-items: center;
}
