.freelancegigsfilteroptions{
    height: 130px;
    width: auto;
    border-radius: 10px;
    border: 1px solid #6F6F6F;
    background-color: #023047;
}

.freelancetype{
    height: 50px;
    width: 600px;
    padding: 10px;
    color: #D3D3D3;
    font-size: 16px;
    margin-left: 10px;
}

.freelancesearchbar {
    height: 45px;
    width: auto;
    display: flex;
    justify-content: space-between;
    padding: 24px;
}