.company-overview-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.company-info-container {
  background: #023047;
  border: 1px solid #6f6f6f;
  padding: 25px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.company-info-heading {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  color: #ffc300;
}

.company-info-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.company-info-contact-details-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.company-contact-details-heading {
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  color: #f6f6f6;
}

.company-info-icon-container {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #f6f6f6;
}

.company-info-company-details-container {
  display: flex;
  flex-direction: column;
}

.company-info-company-detail-heading {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #d3d3d3;
}

.company-info-company-detail-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #f6f6f6;
}

.company-info-about-container {
  background: #023047;
  border: 1px solid #6f6f6f;
  padding: 25px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.company-info-about-heading {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  color: #ffc300;
}

.company-info-about-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #d3d3d3;
}

.company-info-legal-container {
  background: #023047;
  border: 1px solid #6f6f6f;
  border-radius: 10px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.company-info-legal-flex-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.company-info-legal-icon-content-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.company-info-legal-icon-container {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background: #ffc300;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #023047;
}

.company-info-legal-content-container {
  display: flex;
  flex-direction: column;
}

.company-info-legal-icon-two-container {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background: #023047;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #f6f6f6;
}

.company-info-office-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.company-info-office-timings-container {
  background: #023047;
  border: 1px solid #6f6f6f;
  padding: 25px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.company-info-office-icon-content-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.company-info-office-icon-container {
  height: 48px;
  width: 48px;
  background-color: #ffc300;
  color: #023047;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.company-info-working-icon-container {
  height: 48px;
  width: 48px;
  background-color: #023047;
  color: #f6f6f6;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.company-info-office-content-container {
  display: flex;
  flex-direction: column;
}

.company-info-office-title {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #d3d3d3;
}

.company-info-office-desc {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #f6f6f6;
}

.company-info-social-media-links-container {
  width: 100%;
  background: #023047;
  border: 1px solid #6f6f6f;
  padding: 25px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.company-info-social-media-justify-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.company-info-linked-in-icon-content-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.company-info-linked-in-content-container {
  display: flex;
  flex-direction: column;
}

.company-info-linked-in-title {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #d3d3d3;
}

.company-info-linked-in-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #ffc300;
  cursor: pointer;
}

.company-info-visit-link-btn {
  background: #023047;
  border-radius: 10px;
  border: none;
  color: #f6f6f6;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
  padding: 8px 16px;
}

.company-info-location-container {
  background: #023047;
  border: 1px solid #6f6f6f;
  padding: 25px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.location-icon {
  color: #ffc300;
}

.company-info-culture-container {
  display: flex;
  align-items: center;
  gap: 40px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #f6f6f6;
}

.company-info-benefits-container {
  background: #023047;
  border: 1px solid #6f6f6f;
  border-radius: 10px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.company-info-benefits-flex-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.company-info-benefits-flex-container span {
  background-color: #ffc300;
  color: #023047;
  padding: 6px 10px;
  border-radius: 28px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
