@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

.sidebar-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-family: 'Arimo';
}

.sidebar-logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 24px;
  border-bottom: 1px solid #6f6f6f;
  border-right: 1px solid #6f6f6f;
}

.sidebar-briefcase-icon-container {
  height: 40px;
  width: 40px;
  border-radius: 10px;
  background: #ffc300;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-briefcase-icon {
  height: 24px;
  width: 24px;
}

.sidebar-logo-content-container {
  display: flex;
  flex-direction: column;
}

.sidebar-logo-heading {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #f6f6f6;
}

.sidebar-logo-caption {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  color: #d3d3d3;
}

.sidebar-links-container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-right: 1px solid #6f6f6f;
}
