.new-job-modal-overlay {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.new-job-modal-overlay-background {
  background: radial-gradient(
    70.71% 70.71% at 50% 50%,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0.95) 100%
  );
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 9;
}

.new-job-modal-overlay-container {
  width: 672px;
  height: 90%;
  background: radial-gradient(
    111.8% 111.8% at 50% 0%,
    rgba(2, 48, 71, 0.95) 0%,
    #023047 50%,
    rgba(2, 48, 71, 0.98) 100%
  );
  border: 1px solid #6f6f6f;
  box-shadow: 0px 20px 60px 0px #00000080;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  z-index: 10;
}

.new-job-modal-overlay-header {
  padding: 24px;
  border-bottom: 1px solid #6f6f6f;
}

.new-job-modal-heading {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: #ffc300;
}

.new-job-modal-form-container {
  width: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-bottom: 1px solid #6f6f6f;
}

.new-job-modal-label-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.new-job-modal-label {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #f6f6f6;
}

.new-job-modal-input {
  background: radial-gradient(
    70.71% 70.71% at 50% 50%,
    rgba(2, 48, 71, 0.6) 0%,
    #023047 100%
  );
  border: 1px solid #6f6f6f;
  padding: 8px 16px;
  border-radius: 10px;
}

.new-job-modal-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.new-job-modal-footer-container {
  width: 100%;
  padding: 24px;
  display: flex;
  justify-content: end;
  align-items: end;
}

.new-job-btn-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.new-job-modal-cancel-btn {
  border: 1px solid #6f6f6f;
  background-color: transparent;
  border-radius: 10px;
  padding: 8px 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #d3d3d3;
  cursor: pointer;
}

.new-job-modal-create-job-btn {
  background: radial-gradient(
    70.71% 70.71% at 50% 50%,
    #ffc300 0%,
    #e6af00 100%
  );
  box-shadow: 0px 4px 16px 0px #ffc30066;
  border-radius: 10px;
  border: none;
  padding: 8px 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #023047;
  cursor: pointer;
}
