.company-modal-overlay-background {
  background: #000000;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 9;
}

.company-modal-overlay-container {
  width: 672px;
  height: 99%;
  background: radial-gradient(
    111.8% 111.8% at 50% 0%,
    rgba(2, 48, 71, 0.95) 0%,
    #023047 50%,
    rgba(2, 48, 71, 0.98) 100%
  );
  border: 1px solid #6f6f6f;
  box-shadow: 0px 20px 60px 0px #00000080;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  z-index: 10;
}

.company-modal-heading {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: #fff;
}

.company-modal-add-company-btn {
  background: #155dfc;
  border-radius: 10px;
  border: none;
  padding: 8px 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #f6f6f6;
  cursor: pointer;
}
