.internship-filters-modal-overlay {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.internship-filters-modal-overlay-background {
  background: radial-gradient(
    70.71% 70.71% at 50% 50%,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0.95) 100%
  );
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 9;
}

.internship-filters-modal-overlay-container {
  width: 768px;
  height: 98%;
  background: radial-gradient(
    111.8% 111.8% at 50% 0%,
    rgba(2, 48, 71, 0.95) 0%,
    #023047 50%,
    rgba(2, 48, 71, 0.98) 100%
  );
  border: 1px solid #6f6f6f;
  box-shadow: 0px 20px 60px 0px #00000080;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  z-index: 10;
  overflow-y: scroll;
}
