.platform-section-card-container {
  background: #023047;
  border: 0.8px solid #6f6f6f;
  border-radius: 10px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  cursor: pointer;
}

.platform-section-card-icon-percent-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.platform-section-card-icon-container {
  height: 40px;
  width: 40px;
  border-radius: 10px;
  background-color: #ffc300;
  display: flex;
  justify-content: center;
  align-items: center;
}

.platform-section-card-percent {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  color: #22c55e;
}

.platform-section-card-title {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #d3d3d3;
}

.platform-section-card-number {
  font-size: 28px;
  font-weight: 700;
  line-height: 24px;
  color: #f6f6f6;
}

.platform-section-card-subtotal {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  color: #6f6f6f;
}
