.revenue-card-container {
  padding: 24px;
  background: radial-gradient(
    132.38% 152.61% at 100% 100%,
    rgba(34, 197, 94, 0.3) 0%,
    #023047 100%
  );
  border: 0.8px solid #6f6f6f;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  cursor: pointer;
}

.revenue-card-icon-percent-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.revenue-card-icon-container {
  height: 48px;
  width: 48px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.revenue-card-percent {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  color: #22c55e;
}

.revenue-card-title {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #d3d3d3;
}

.revenue-card-number {
  font-size: 32px;
  font-weight: 700;
  line-height: 24px;
  color: #f6f6f6;
}

.revenue-card-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  color: #6f6f6f;
}
